body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("image/sakura.avif"); /* folder sama */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    background-color: rgba(255, 230, 238, 0.95); /* semi-transparent pink */
    padding: 40px 30px;
    max-width: 1000px;
    width: 90%;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
}

/* Header */
.header {
    margin-bottom: 40px;
}

h1 {
    font-size: 28px;
    text-align: center;
    padding: 20px;
    background: linear-gradient(to right, rgb(241, 137, 247), rgb(255, 255, 255));
    border-radius: 40px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
    color: white;
}

/* Main content */
.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

/* Region row */
.region {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

/* State button */
.state-box {
    width: 180px;
    height: 100px;
    background-color: white;
    border: 2px solid #d81b60;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: #222;
    transition: transform 0.3s ease;
    cursor: pointer;
    text-align: center;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}

.state-box:hover {
    transform: scale(1.05);
}

/* Selection card */
.selection-card {
    background-color: white;
    border: 2px solid #ad1457;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: all 0.5s ease;
}

.selection-card.orange {
    border-color: #ff7043;
}

.selection-card label {
    font-weight: bold;
    margin-bottom: 5px;
}

.selection-card select {
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Panel hide/show effect */
.hidden {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transform: scaleY(0.95);
    transition: all 0.4s ease;
}

.show {
    max-height: 500px;
    opacity: 1;
    margin-top: 10px;
    transform: scaleY(1);
}

.school-select.hidden {
    display: none;
}

.school-select {
    display: block;
    margin-top: 10px;
}
